mvvmapp/Connected Services/DTOServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceLibDto.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceLibDto.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfDetailDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrderDTO" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ItemDTO" nillable="true" type="tns:ItemDTO" />
  <xs:complexType name="ArrayOfDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailDTO" nillable="true" type="tns:DetailDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetailDTO" nillable="true" type="tns:ArrayOfDetailDTO" />
  <xs:complexType name="DetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:ItemDTO" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailDTO" nillable="true" type="tns:DetailDTO" />
  <xs:complexType name="ArrayOfOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDTO" nillable="true" type="tns:ArrayOfOrderDTO" />
  <xs:complexType name="OrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderedComputers" nillable="true" type="tns:ArrayOfItemDTO" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
  <xs:complexType name="ArrayOfItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemDTO" nillable="true" type="tns:ItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemDTO" nillable="true" type="tns:ArrayOfItemDTO" />
</xs:schema>