TestRepoConsoleApp/Connected Services/OrderDTOService/OrderDTOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderDTOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/WCFServiceLibDto/IOrderDTOService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/WCFServiceLibDto/IOrderDTOService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/WCFServiceLibDto/IOrderDTOService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceLibDto.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderDTOService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IOrderDTOService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDTOService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IOrderDTOService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderDTOService_GetOrderWithComputers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderWithComputers" />
  </wsdl:message>
  <wsdl:message name="IOrderDTOService_GetOrderWithComputers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderWithComputersResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderDTOService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDTOService/Create" message="tns:IOrderDTOService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDTOService/CreateResponse" message="tns:IOrderDTOService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDTOService/Delete" message="tns:IOrderDTOService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDTOService/DeleteResponse" message="tns:IOrderDTOService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderWithComputers">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderDTOService/GetOrderWithComputers" message="tns:IOrderDTOService_GetOrderWithComputers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderDTOService/GetOrderWithComputersResponse" message="tns:IOrderDTOService_GetOrderWithComputers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderDTOService" type="tns:IOrderDTOService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IOrderDTOService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IOrderDTOService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderWithComputers">
      <soap:operation soapAction="http://tempuri.org/IOrderDTOService/GetOrderWithComputers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderDTOService">
    <wsdl:port name="BasicHttpBinding_IOrderDTOService" binding="tns:BasicHttpBinding_IOrderDTOService">
      <soap:address location="http://localhost:8735/Design_Time_Addresses/WCFServiceLibDto/IOrderDTOService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>