mvvmapp/Connected Services/ServiceReference1/ItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServiceLib/ItemService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServiceLib/ItemService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServiceLib/ItemService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/mvvmApp.Dal.Abstract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItemService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IItemService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IItemService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItems" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IItemService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_getText_InputMessage">
    <wsdl:part name="parameters" element="tns:getText" />
  </wsdl:message>
  <wsdl:message name="IItemService_getText_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTextResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItemTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTitle" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItemTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_ItemsFromDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemsFromDatabase" />
  </wsdl:message>
  <wsdl:message name="IItemService_ItemsFromDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemsFromDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_ItemUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemUpdated" />
  </wsdl:message>
  <wsdl:message name="IItemService_ItemUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemUpdatedResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_ItemDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemDeleted" />
  </wsdl:message>
  <wsdl:message name="IItemService_ItemDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemDeletedResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_ItemAdded_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemAdded" />
  </wsdl:message>
  <wsdl:message name="IItemService_ItemAdded_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemAddedResponse" />
  </wsdl:message>
  <wsdl:portType name="IItemService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/Create" message="tns:IItemService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/CreateResponse" message="tns:IItemService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/Delete" message="tns:IItemService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/DeleteResponse" message="tns:IItemService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetAllItems" message="tns:IItemService_GetAllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetAllItemsResponse" message="tns:IItemService_GetAllItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/Update" message="tns:IItemService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/UpdateResponse" message="tns:IItemService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetItem" message="tns:IItemService_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetItemResponse" message="tns:IItemService_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getText">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/getText" message="tns:IItemService_getText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/getTextResponse" message="tns:IItemService_getText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetItemTitle" message="tns:IItemService_GetItemTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetItemTitleResponse" message="tns:IItemService_GetItemTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemsFromDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/ItemsFromDatabase" message="tns:IItemService_ItemsFromDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/ItemsFromDatabaseResponse" message="tns:IItemService_ItemsFromDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemUpdated">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/ItemUpdated" message="tns:IItemService_ItemUpdated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/ItemUpdatedResponse" message="tns:IItemService_ItemUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemDeleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/ItemDeleted" message="tns:IItemService_ItemDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/ItemDeletedResponse" message="tns:IItemService_ItemDeleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemAdded">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/ItemAdded" message="tns:IItemService_ItemAdded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/ItemAddedResponse" message="tns:IItemService_ItemAdded_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IItemService" type="tns:IItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IItemService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IItemService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetAllItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IItemService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getText">
      <soap:operation soapAction="http://tempuri.org/IItemService/getText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemTitle">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetItemTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsFromDatabase">
      <soap:operation soapAction="http://tempuri.org/IItemService/ItemsFromDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemUpdated">
      <soap:operation soapAction="http://tempuri.org/IItemService/ItemUpdated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemDeleted">
      <soap:operation soapAction="http://tempuri.org/IItemService/ItemDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemAdded">
      <soap:operation soapAction="http://tempuri.org/IItemService/ItemAdded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port name="BasicHttpBinding_IItemService" binding="tns:BasicHttpBinding_IItemService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServiceLib/ItemService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>